<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login | Email Application</title>
		<%- include('components/meta') %> <%- include('components/link') %> <%-
		include('components/firebaseAuth') %>
		<script>
			function toggleSignIn() {
				if (firebase.auth().currentUser) {
					firebase.auth().signOut();
				} else {
					if (document.getElementById("email").value.length < 11) {
						main.showSwal("emailInvalid");
						return;
					}
					if (document.getElementById("password").value.length < 8) {
						main.showSwal("passwordNoMatch");
						return;
					}
					firebase
						.auth()
						.signInWithEmailAndPassword(
							document.getElementById("email").value,
							document.getElementById("password").value
						)
						.catch((error) => {
							if (error.code === "auth/wrong-password") {
								alert("Wrong password!");
							} else if (error.code === "auth/user-not-found") {
								alert("User not found");
							} else {
								alert(error.message);
							}
						});
				}
			}
			function initApp() {
				firebase
					.auth()
					.setPersistence(firebase.auth.Auth.Persistence.NONE);
				firebase.auth().onAuthStateChanged((user) => {
					if (user) {
						console.log(user);
						user.getIdToken()
							.then((idToken) => {
								window.location.href =
									"/sessionLogin?idToken=" + idToken;
								main.showSwal("signingIn");
							})
							.catch((error) => {
								alert(error);
							});
					} else {
						main.showSwal("loginContinue");
					}
				});
			}
			window.onload = initApp();
		</script>
	</head>

	<body>
		<nav class="navbar navbar-transparent navbar-absolute">
			<div class="container">
				<div class="navbar-header">
					<button
						type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target="#navigation-example-2"
					>
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/login">Email Application</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/register">
								<button class="btn btn-info btn-fill btn-wd">
									Register
								</button>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="wrapper wrapper-full-page">
			<div
				class="full-page login-page"
				data-color=""
				data-image="/assets/img/background/background-8.jpg"
			>
				<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
				<div class="content">
					<div class="container">
						<div class="row">
							<div
								class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3"
							>
								<form method="#" action="#">
									<div
										class="card"
										data-background="color"
										data-color="blue"
									>
										<div class="card-header">
											<h3 class="card-title">Login</h3>
										</div>
										<div class="card-content">
											<div class="form-group">
												<label for="email"
													>Email address</label
												>
												<input
													type="email"
													name="email"
													id="email"
													placeholder="Enter email"
													class="form-control input-no-border"
													autocomplete="email"
													autofocus
												/>
											</div>
											<div class="form-group">
												<label for="password"
													>Password</label
												>
												<input
													type="password"
													name="password"
													id="password"
													placeholder="Password"
													autocomplete="current-password"
													class="form-control input-no-border"
												/>
											</div>
										</div>
										<div class="card-footer text-center">
											<button
												type="button"
												onclick="toggleSignIn()"
												class="btn btn-fill btn-wd"
												id="loginButton"
											>
												Login
											</button>
											<input
												class="btn btn-fill btn-wd"
												type="reset"
											/>
											<br /><br />
											<div class="forgot">
												<a href="/forgotPassword"
													>Forgot your password?</a
												>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<footer class="footer footer-transparent">
					<div class="container">
						<div class="copyright text-center">
							&copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							, made with <i class="fa fa-heart heart"></i> by
							<a href="#">Email Application Team</a>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<%- include('components/scripts') %>
		<script type="text/javascript">
			$().ready(function () {
				main.checkFullPageBackgroundImage();
				document.getElementById("email").oncopy = function (e) {
					e.preventDefault();
				};
				document.getElementById("email").onpaste = function (e) {
					e.preventDefault();
				};
				document.getElementById("password").oncopy = function (e) {
					e.preventDefault();
				};
				document.getElementById("password").onpaste = function (e) {
					e.preventDefault();
				};
			});
			var input = document.getElementById("email");
			input.addEventListener("keyup", function (event) {
				if (event.keyCode === 13) {
					event.preventDefault();
					document.getElementById("loginButton").click();
				}
			});
			var input1 = document.getElementById("password");
			input1.addEventListener("keyup", function (event) {
				if (event.keyCode === 13) {
					event.preventDefault();
					document.getElementById("loginButton").click();
				}
			});
		</script>
	</body>
</html>
