<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="../../assets/img/apple-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="../../assets/img/favicon.png"
		/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Update Profile | Email Application</title>

		<meta
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
			name="viewport"
		/>
		<meta name="viewport" content="width=device-width" />

		<!-- Bootstrap core CSS     -->
		<link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />

		<!--  Paper Dashboard core CSS    -->
		<link href="../../assets/css/paper-dashboard.css" rel="stylesheet" />

		<!--  CSS for main Purpose, don't include it in your project     -->
		<link href="../../assets/css/main.css" rel="stylesheet" />

		<!--  Fonts and icons     -->
		<link
			href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Muli:400,300"
			rel="stylesheet"
			type="text/css"
		/>
		<link href="../../assets/css/themify-icons.css" rel="stylesheet" />
	</head>

	<body>
		<div class="wrapper">
			<div
				class="sidebar"
				data-background-color="brown"
				data-active-color="danger"
			>
				<!--
			Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
			Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
		-->
				<div class="logo">
					<a
						href="https://www.creative-tim.com"
						class="simple-text logo-mini"
					>
						CT
					</a>

					<a
						href="https://www.creative-tim.com"
						class="simple-text logo-normal"
					>
						Creative Tim
					</a>
				</div>
				<div class="sidebar-wrapper">
					<div class="user">
						<div class="photo">
							<img
								alt="profile picture"
								src="../../assets/img/faces/face-2.jpg"
							/>
						</div>
						<div class="info">
							<a>
								<span>
									Chet Faker
								</span>
							</a>
							<div class="clearfix"></div>

							<div>
								<ul class="nav">
									<li>
										<a href="/signOut">
											<span class="sidebar-mini">SO</span>
											<span class="sidebar-normal"
												>Sign Out</span
											>
										</a>
									</li>
									<li>
										<a href="/lock">
											<span class="sidebar-mini"
												>LSP</span
											>
											<span class="sidebar-normal"
												>Lock Screen Page</span
											>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main-panel">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-minimize">
							<button
								id="minimizeSidebar"
								class="btn btn-fill btn-icon"
							>
								<i class="ti-more-alt"></i>
							</button>
						</div>
						<div class="navbar-header">
							<button type="button" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar bar1"></span>
								<span class="icon-bar bar2"></span>
								<span class="icon-bar bar3"></span>
							</button>
							<a class="navbar-brand" href="#userpage"
								>User Page</a
							>
						</div>
						<div class="collapse navbar-collapse">
							<form
								class="navbar-form navbar-left navbar-search-form"
								role="search"
							>
								<div class="input-group">
									<span class="input-group-addon"
										><i class="fa fa-search"></i
									></span>
									<label for="search">Search</label>
									<input
										id="search"
										type="text"
										value=""
										class="form-control"
										placeholder="Search..."
									/>
								</div>
							</form>
							<ul class="nav navbar-nav navbar-right">
						
								<li class="dropdown">
									<a
										href="#notifications"
										class="dropdown-toggle btn-rotate"
										data-toggle="dropdown"
									>
										<i class="ti-bell"></i>
										<span class="notification">5</span>
										<p class="hidden-md hidden-lg">
											Notifications
											<b class="caret"></b>
										</p>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="#not1">Notification 1</a>
										</li>
										<li>
											<a href="#not2">Notification 2</a>
										</li>
										<li>
											<a href="#not3">Notification 3</a>
										</li>
										<li>
											<a href="#not4">Notification 4</a>
										</li>
										<li>
											<a href="#another"
												>Another notification</a
											>
										</li>
									</ul>
								</li>
								<!-- <li>
									<a href="#settings" class="btn-rotate">
										<i class="ti-settings"></i>
										<p class="hidden-md hidden-lg">
											Settings
										</p>
									</a>
								</li> -->
							</ul>
						</div>
					</div>
				</nav>

				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-4 col-md-5">
								<div class="card card-user">
									<div class="image">
										<img
											src="../../assets/img/background.jpg"
											alt="..."
										/>
									</div>
									<div class="card-content">
										<div class="author">
											<img
												class="avatar border-white"
												src="../../assets/img/faces/face-2.jpg"
												alt="..."
											/>
											<h4 class="card-title">
												<%- user.email -%><br />
												<!-- <a href="#"><small>@chetfaker</small></a> -->
											</h4>
										</div>
										<p class="description text-center">
											"I like the way you work it <br />
											No diggity <br />
											I wanna bag it up"
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-7">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Edit Profile</h4>
									</div>
									<div class="card-content">
										<form
											method="POST"
											action="/onUpdateProfile"
										>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="DOB"
															>Date of
															Birth</label
														>
														<input
															id="DOB"
															type="date"
															name="DOB"
															class="form-control border-input"
															autocomplete="bday"
														/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="profilePicture"
															>Profile
															Picture</label
														>
														<input
															id="profilePicture"
															type="file"
															name="profilePicture"
															autocomplete="photo"
															class="form-control border-input"
															disabled
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="countryCode"
															>Country Code</label
														>
														<input
															id="countryCode"
															type="tel"
															name="countryCode"
															class="form-control border-input"
															autocomplete="tel-country-code"
														/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="mobile"
															>Mobile
															number</label
														>
														<input
															id="mobile"
															type="tel"
															name="mobile"
															class="form-control border-input"
															autocomplete="tel-national"
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="firstName"
															>First Name</label
														>
														<input
															id="firstName"
															type="text"
															class="form-control border-input"
															placeholder="First Name"
															name="firstName"
															autocomplete="given-name"
														/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="lastName">Last Name</label>
														<input
															id="lastName"
															type="text"
															class="form-control border-input"
															placeholder="Last Name"
															name="lastName"
															autocomplete="family-name"
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="address1"
															>Address Line
															1</label
														>
														<input
															id="address1"
															type="text"
															class="form-control border-input"
															name="address1"
															placeholder="Address Line 1"
															autocomplete="address-line1"
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="address2"
															>Address Line
															2</label
														>
														<input
															id="address2"
															type="text"
															class="form-control border-input"
															name="address2"
															placeholder="Address Line 2"
															autocomplete="address-line2"
														/>
													</div>
												</div>
											</div>
											<!-- <div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label for="city">City</label>
														<input
															id="city"
															type="text"
															class="form-control border-input"
															name="city"
															placeholder="City"
															autocomplete="address-level2"
														/>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="country">Country</label>
														<input
															id="country"
															type="text"
															name="country"
															class="form-control border-input"
															placeholder="Country"
															autocomplete="country-name"
														/>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="postalCode"
															>Postal Code</label
														>
														<input
															id="postalCode"
															type="text"
															name="postalCode"
															class="form-control border-input"
															placeholder="Postal Code"
															autocomplete="postal-code"
														/>
													</div>
												</div>
											</div> -->
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="bio">About Me</label>
														<input
															id="bio"
															type="text"
															class="form-control border-input"
															placeholder="Here can be your description"
															name="bio"
														/>
													</div>
												</div>
											</div>
											<div class="text-center">
												<button
													type="submit"
													class="btn btn-info btn-fill btn-wd"
												>
													Update Profile
												</button>
											</div>
											<div class="clearfix"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<footer class="footer">
					<div class="container-fluid">
						<nav class="pull-left">
							<ul>
								<li>
									<a href="https://www.creative-tim.com">
										Creative Tim
									</a>
								</li>
								<li>
									<a href="https://blog.creative-tim.com">
										Blog
									</a>
								</li>
								<li>
									<a
										href="https://www.creative-tim.com/license"
									>
										Licenses
									</a>
								</li>
							</ul>
						</nav>
						<div class="copyright pull-right">
							&copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							, made with <i class="fa fa-heart heart"></i> by
							<a href="https://www.creative-tim.com"
								>Creative Tim</a
							>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</body>

	<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js   -->
	<script src="../../assets/js/jquery.min.js" type="text/javascript"></script>
	<script
		src="../../assets/js/jquery-ui.min.js"
		type="text/javascript"
	></script>
	<script
		src="../../assets/js/perfect-scrollbar.min.js"
		type="text/javascript"
	></script>
	<script
		src="../../assets/js/bootstrap.min.js"
		type="text/javascript"
	></script>

	<!--  Forms Validations Plugin -->
	<script src="../../assets/js/jquery.validate.min.js"></script>

	<!-- Promise Library for SweetAlert2 working on IE -->
	<script src="../../assets/js/es6-promise-auto.min.js"></script>

	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	<script src="../../assets/js/moment.min.js"></script>

	<!--  Date Time Picker Plugin is included in this js file -->
	<script src="../../assets/js/bootstrap-datetimepicker.js"></script>

	<!--  Select Picker Plugin -->
	<script src="../../assets/js/bootstrap-selectpicker.js"></script>

	<!--  Switch and Tags Input Plugins -->
	<script src="../../assets/js/bootstrap-switch-tags.js"></script>

	<!-- Circle Percentage-chart -->
	<script src="../../assets/js/jquery.easypiechart.min.js"></script>

	<!--  Charts Plugin -->
	<script src="../../assets/js/chartist.min.js"></script>

	<!--  Notifications Plugin    -->
	<script src="../../assets/js/bootstrap-notify.js"></script>

	<!-- Sweet Alert 2 plugin -->
	<script src="../../assets/js/sweetalert2.js"></script>

	<!-- Vector Map plugin -->
	<script src="../../assets/js/jquery-jvectormap.js"></script>

	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

	<!-- Wizard Plugin    -->
	<script src="../../assets/js/jquery.bootstrap.wizard.min.js"></script>

	<!--  Bootstrap Table Plugin    -->
	<script src="../../assets/js/bootstrap-table.js"></script>

	<!--  Plugin for DataTables.net  -->
	<script src="../../assets/js/jquery.datatables.js"></script>

	<!--  Full Calendar Plugin    -->
	<script src="../../assets/js/fullcalendar.min.js"></script>

	<!-- Paper Dashboard PRO Core javascript and methods for main purpose -->
	<script src="../../assets/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard PRO main methods, don't include it in your project! -->
	<script src="../../assets/js/main.js"></script>
</html>
